.tic-tac-toe {
  text-align: center;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.board {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  line-height: 60px;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 120px;
  cursor: pointer;
}

.controls {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}


/* enter-dialog-box styles */
.enter-dialog-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.enter-dialog-box h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.enter-dialog-box input {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
}

.enter-dialog-box button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.enter-dialog-box button:hover {
  background-color: #45a049;
}

/* game-over-dialog-box styles */
.game-over-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.game-over-dialog h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.game-over-dialog .buttons {
  margin-top: 20px;
}

.game-over-dialog button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.game-over-dialog button:hover {
  background-color: #45a049;
}